@charset "utf-8";

@font-face {
    font-family: "pasion" ;
    src: url('/fontes/Passion_One/PassionOne-Bold.ttf');
}
@font-face {
    font-family: 's';
    src: url('/fontes/Sriracha/Sriracha-Regular.ttf');
}
*{
    margin: 0px;
    padding: 0px;
}
html, body{
    min-height: 100vh;
    background-color: darkgrey;
}
header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{
    font-family: 'pasion',Arial, Helvetica, sans-serif;
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 10vW;
}
header > p{
    padding-bottom: 50px;
}
a{
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}
header a:hover footer a:hover{
    text-decoration: underline;
}
section{
    font-family: 's', Arial, Helvetica, sans-serif;
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding: 30px;
    font-size: 3vW;
}
section.normal{
    background-color: black;
    color: white;
}
section.imagem{
    background-color: blue;
    color: chartreuse;
}
section.imagem > p{
    background-color: rgba(0, 0, 0, 0.281);
    width: 400px;
    
}
footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}