@charset "utf-8";

@font-face {
    font-family: "pasion" ;
    src: url('/fontes/Passion_One/PassionOne-Bold.ttf');
}
@font-face {
    font-family: 's';
    src: url('/fontes/Sriracha/Sriracha-Regular.ttf');
}
*{
    margin: 0px;
    padding: 0px;
}
html, body{
    min-height: 100vh;
    background-color: darkgrey;
}
header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{
    font-family: 'pasion',Arial, Helvetica, sans-serif;
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 5vW;
}
header > p{
    padding-bottom: 50px;
}
a{
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}
header a:hover footer a:hover{
    text-decoration: underline;
}
section{
    
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    font-family: 's', Arial, Helvetica, sans-serif;
    padding: 30px;
    font-size: 3.5vW;
}
section > p{
    padding-bottom: 2em;
}
section.normal{
    background-color: white;
    color: rgb(14, 13, 13);
}

section.imagem{
    background-color: rgb(51, 51, 51);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.466);
    background-size: cover;
    background-attachment: fixed;
}

section.imagem > p{
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.281);
    text-shadow: 1px 1px 0px;
    
}
section#img01{
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
    
}
section#img02{
    background-image: url('../imagens/background002.jpg');
}
footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}